.item {
    list-style-type: none;
    color: green;
    font-size: 18px;
}

.btnDanger{
    color: #fff;
    background: red;
    padding: 4px;
    border-radius: 4px;
    margin: 5px;
}

.inputWrap{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-top: 30px;

}
