.nav{
    grid-area: n;
    background: blue;
    display: flex;
    flex-direction: column;
    padding: 10%;


}
.nav div a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav div a.active{
    color: gold;
}